<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>スタレゾボス一覧</title>
</head>
<body>
  <table>
    <h2>スタレゾ ボス一覧</h2>
    <tr><th>ID</th><th>ボス名</th><tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><a href="/boss/<%= row.id %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/public/boss_add.html">ボスを追加</a>
</body>
</html>